@model CRSolutions.Models.Candidate
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Create";
    CRSolutions.Models.User usuario = null;

    if (Context.Session.GetString("User") != null)
    {
        usuario = JsonConvert.DeserializeObject<CRSolutions.Models.User>(Context.Session.GetString("User"));
        // var UserName = User.UserName;
        // var IdRol = User.IdRol;

    }
}

<div class=".container-lg barHeaderblue">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2" style="text-align:-webkit-center">
                    <img src="~/images/logo.png" class="logo-img" alt="logo">
                </div>
          @*       <div class="col-md-4 alinea-botones">
                    <div class="container-1">
                        <input type="search" id="search" placeholder="Buscar..." />
                    </div>
                </div> *@
                @* <div class="col-md-2 alinea-botones"><input type="button" value="Regresar" class="boton-menu"></div> *@
               @*  <div class="col-md-2 alinea-botones"> <input type="button" value="Creditos" class="boton-menu"></div> *@
                @* <div class="col-md-2 alinea-botones"><input type="button" value="Salir" class="boton-menu"></div> *@
                <div class=" col-md-6 title-catalogue">Registro de Candidato</div>
                <div class="col-md-4 user-session">
                    <span>@usuario.FullName</span><br />
                    <a href="@Url.Action("Logout","Users")"><span> Cerrar Sesion</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class=".container-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="barHeader"></div>
            <div class="logo-bar"><img src="~/images/logo.png" alt="logo"></div>
            <div class="title-catalogue">Registro de Candidato</div>
        </div>
    </div>
</div> *@
<div class="separador"></div>
<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">                   
                    <div class="file-select" id="src-file1">
                            <input type="file" asp-for="Photo" name="Photo" accept="image/*" aria-label="Archivo" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="button-no-photo" class="buttons-profile"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />

            <div class="card centrando" style="width: 18rem">
           @*      <img src="~/images/avatar.png" class="card-img-top" alt="img-thumbnail" /> *@
                    @{                       
                        if (Model == null)
                        {
                            <img src="~/images/avatar.png" class="card-img-top" alt="img-thumbnail" />
                        }
                        else
                        {
                            if(Model.Photo == null)
                            {
                                <img src="~/images/avatar.png" class="card-img-top" alt="img-thumbnail" />
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)" class="card-img-top" alt="img-thumbnail" />
                            }
                            
                        }
                    }
                    
                </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">

                    <div id="button-barcode" class="buttons-profile "></div>

                </div>
                <div class="col-md-4">
                    <div id="button-credential" class="buttons-profile"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>


    
            <div class="col-md-6">
                <div class="container">
                
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                        <input type="hidden" asp-for="IdCantidate" />
                        <span style="color:green; font-size:2rem;">@ViewBag.Confirmacion</span>


                    <div class="row">      
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="IdCompany" class="form-label"></label>
                                <select asp-for="IdCompany"  class="form-control" asp-items="ViewBag.IdCompany" placeholder="Toca para visualizar"></select>
                           
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="CURP" class="form-label"></label>
                                <input asp-for="CURP"  class="form-control" />                                
@*                                 <button formnovalidate onclick="enviarPeticion()" formaction="@Url.Action("EditCandidate","Candidates")" class="btn botones form-control"><i class="fa-solid fa-magnifying-glass"></i></button> *@
                                <button formnovalidate onclick="enviarPeticion()" formaction="@Url.Action("EditCandidate","Candidates")" class="btn botones form-control"><i class="fa-solid fa-magnifying-glass"></i></button>
                                <span asp-validation-for="CURP" class="text-danger"></span>
                                
                                <span style="color:red;">@ViewBag.NotFound</span>
                           
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="FullName" class="form-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="EvaluatedPosition" class="form-label"></label>
                                <input asp-for="EvaluatedPosition" class="form-control" />
                                <span asp-validation-for="EvaluatedPosition" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label asp-for="IdUser" class="form-label"></label>
                                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="ReportFile" class="form-label"></label>                               
                                <div class="reporte" id="src-file2">
                                    <input asp-for="ReportFile" type="file" class="form-control" accept="application/pdf"  />
                                </div>
                                <span asp-validation-for="ReportFile" class="text-danger"></span>
                                @* <label asp-for="ReportFile" class="form-label"></label> *@
                                @* <input asp-for="ReportFile" class="form-control" /> *@
                       @*          @{
                                    if (Html.DisplayFor(model => model.ReportFile) == null || Html.DisplayFor(model => model.ReportFile).ToString() == "")
                                    {
                                        <div class="reporte" id="src-file2">
                                            <input asp-for="ReportFile" type="file" class="form-control" />
                                            
                                        </div>
                                    }
                                    else
                                    {
                                        <a target="_blank" asp-for="ReportFile" href="@Model.routeReportFile">
                                            <i class="fa-solid fa-registered"></i>
                                        </a>
                                        <div class="reporte" id="src-file2">
                                            <input asp-for="routeReportFile" type="file" class="form-control" />
                                        </div>
                                        
                                    }
                                } *@
                                
                                <span asp-validation-for="ReportFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                @* <label for="src-file3" class="form-label">Audio</label>
                                <div class="audio" id="src-file3">
                                    <input type="file" name="src-file3" aria-label="Archivo" />
                                </div> *@
                                <label asp-for="AudioFile" class="form-label"></label>
                                @* <input asp-for="AudioFile" class="form-control" /> *@
                                <div class="reporte" id="src-file2">
                                    <input asp-for="AudioFile" type="file" class="form-control" accept=".mp3,audio/*" />
                                </div>
                                <span asp-validation-for="AudioFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                               @*  <label for="src-file4" class="form-label">Creditos</label>
                                <div class="creditos" id="src-file4">
                                    <input type="file" name="src-file4" aria-label="Archivo" />
                                </div> *@
                                <label asp-for="CreditFile" class="form-label"></label>
                                @* <input asp-for="CreditFile" class="form-control" /> *@
                                <div class="reporte" id="src-file2">
                                    <input asp-for="CreditFile" type="file" class="form-control" accept="application/pdf"  />
                                </div>
                                <span asp-validation-for="CreditFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label asp-for="IdTypeTest" for="exampleDataList" class="form-label" style="color: rgb(12, 12, 65)">Tipo Test</label>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <!-- <label for="exampleFormControlInput4" class="form-label">Score de Riesgo</label> -->
                                <!-- <input type="text" class="form-control" id="exampleFormControlInput4" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> -->
                                <input asp-for="IdTypeTest" type="radio" class="test" id="preeempleo" name="IdTypeTest" value="1" />
                                <label for="preeempleo">Preempleo</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input asp-for="IdTypeTest" type="radio" class="test" id="periodico" name="IdTypeTest" value="2" />
                                <label for="periodico">Periodico</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input asp-for="IdTypeTest" type="radio" class="test" id="patrimonial" name="IdTypeTest" value="3" />
                                <label for="patrimonial">Patrimonial</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input asp-for="IdTypeTest" type="radio" class="test" id="investigacion" name="IdTypeTest" value="4" />
                                <label for="investigacion">Investigacion</label>
                            </div>
                        </div>
                        <span asp-validation-for="IdTypeTest" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <!-- <label for="exampleFormControlInput4" class="form-label">Score de Riesgo</label> -->
                                <!-- <input type="text" class="form-control" id="exampleFormControlInput4" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> -->
                                <label asp-for="IdRiskScore" for="exampleDataList" class="form-label"> Score</label>
                                <input max="3" min="0" asp-for="IdRiskScore" class="form-control" list="datalistOptions2" id="exampleDataList"
                                       placeholder="Toca para visualizar" />
                                <datalist id="datalistOptions2">
                                    <option value="0">Ninguno</option>
                                    <option value="1">Verde</option>
                                    <option value="2">Amarillo</option>
                                    <option value="3">Rojo</option>
                                </datalist>
                                <span asp-validation-for="IdRiskScore" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="EvaluationDate" class="form-label"></label>
                                <input asp-for="EvaluationDate" type="datetime-local" class="form-control"
                                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                <span asp-validation-for="EvaluationDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="RecordEvaluation" class="form-label"></label>
                                <input asp-for="RecordEvaluation"  type="text" class="form-control" id="exampleFormControlInput6" aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default" />
                                <span asp-validation-for="RecordEvaluation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="BlackList" class="form-label"></label>
                                <input asp-for="BlackList"  type="text" class="form-control" aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default" />
                                <span asp-validation-for="BlackList" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mb-3">  
                                @{
                                    if (Model == null)
                                    {
                                        <button asp-action="Create" id="Create" class="btn botones-green form-control">Registrar</button>                                       
                                    }
                                    else
                                    {
                                        if (Model.IdCantidate ==  Guid.Parse("00000000-0000-0000-0000-000000000000"))
                                        {
                                            <button asp-action="Create" id="Create" class="btn botones-green form-control">Registrar</button>
                                        }
                                        else
                                        {
                                            <button asp-action="Create" disabled id="Create" class="btn botones-green form-control">Registrar</button>
                                        }
                                    }
                                }
                                                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mb-3">
                                @{
                                    if(Model == null)
                                    {                                        
                                        <button formnovalidate disabled formmethod="post" formaction="@Url.Action("UpdateCandidate","Candidates")" class="btn botones form-control">Modificar</button>
                                    }
                                    else
                                    {
                                        if (Model.IdCantidate == Guid.Parse("00000000-0000-0000-0000-000000000000"))
                                        {
                                            <button formnovalidate disabled formmethod="post" formaction="@Url.Action("UpdateCandidate","Candidates")" class="btn botones form-control">Modificar</button>
                                        }
                                        else
                                        {
                                            <button formnovalidate formmethod="post" formaction="@Url.Action("UpdateCandidate","Candidates")" class="btn botones form-control">Modificar</button>
                                        }
                                       
                                    }
                                }
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mb-3">
                                <button class="btn botones-gold form-control" id="limpiar">Nuevo</button>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="mb-3">
                                <button formnovalidate formaction="@Url.Action("Logout","Users")" class="btn botones-gray">Salir</button>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>        
    </div>
    </form>
</div>

<script>
    function DisabledButtonCreate() {
    
        var idCandidate = document.getElementById("IdCantidate");
        var button = document.getElementById("Create");
        //var model = @Model
        if (idCandidate != null || idCandidate.value != "") {
            // Si el modelo no es null y someProperty no es una cadena vacía, habilita el botón
            button.disabled = false;
        } else {
            // De lo contrario, deshabilita el botón
            button.disabled = true;
        }

    }

</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
